#!/usr/bin/env python
# -*- coding: utf-8 -*-

"""
# {{ problem.title }}

{{ problem.description|trim|wordwrap }}
{% if problem.source %}
## Source

{{ problem.source|wordwrap }}
{% endif %}
{%- if problem.tests %}
## Example

Input:
{{ problem.tests[0].input }}

Output:
{{ problem.tests[0].output }}
{% endif -%}
"""

import sys


def main(argv):
    pass


if __name__ == "__main__":
    main(sys.argv[1:])